@import "tailwindcss";

:root {
  --primary: #9684a1;
  --accent: #985f99;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", "Pretendard", "Noto Sans KR", sans-serif;
  color: #0f172a;
}

/* Custom Scrollbar Hiding Utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
